:root {
    --vertical: 50%;
    --horizontal: 50%;
}

main {
    width: 600px;
    height: 500px;
    background-color: aqua;
    position: fixed;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}

#mosca {
    font-size: 30pt;
    position: absolute;
    top: var(--vertical);
    left: var(--horizontal);
    transform: translate(-50%, -50%);
    animation: movimento-da-mosca 2s normal infinite;
    transition: 2s;
}